<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <fieldset class="crudfieldset border rounded p-2 mb-3">
    <legend class="float-none w-auto h4">&nbsp;Troca de senha&nbsp;</legend>
    <div class="crud-grid">
      <h3>Usuário: {{ nomeUsuario }}</h3>
      <form class="crudform" [formGroup]="form">
        <mat-form-field class="crudfield" id="fSenha">
          <mat-label id="lbSenha">Senha</mat-label>
          <input
            id="inSenha"
            formControlName="senha"
            matInput
            type="password"
          />
          <mat-hint *ngIf="exibeHint('senha', form)">
            Digite a nova senha
          </mat-hint>
          <mat-error
            *ngIf="
              hasErroValidacao(
                'senha',
                TipoErroValForm.OBRIGATORIO,
                undefined,
                form
              )
            "
            >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
          </mat-error>
          <mat-error
            *ngIf="
              hasErroValidacao(
                'senha',
                TipoErroValForm.FORMATO,
                undefined,
                form
              )
            "
            >Tamanho mínimo de 5 caracteres e máximo de 20 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field class="crudfield" id="fConfSenha">
          <mat-label id="lbConfSenha">Confirmação de Senha</mat-label>
          <input
            id="inConfSenha"
            formControlName="confSenha"
            matInput
            type="password"
          />
          <mat-hint *ngIf="exibeHint('confSenha', form)">
            Digite a nova senha para confirmar
          </mat-hint>
          <mat-error
            *ngIf="
              hasErroValidacao(
                'confSenha',
                TipoErroValForm.OBRIGATORIO,
                undefined,
                form
              )
            "
            >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
          </mat-error>
          <mat-error
            *ngIf="
              hasErroValidacao(
                'confSenha',
                TipoErroValForm.FORMATO,
                undefined,
                form
              )
            "
            >Tamanho mínimo de 5 caracteres e máximo de 20 caracteres
          </mat-error>
          <mat-error
            *ngIf="
              hasErroValidacao(
                'confSenha',
                TipoErroValForm.DEFINIDA_USUARIO,
                'confirmasenha',
                form
              )
            "
            >Senha diferente da confirmação
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="barrabutton">
      <button
        class="crudbutton"
        mat-raised-button
        color="primary"
        (click)="confirmarAlteracao()"
        [disabled]="!habilitarBotaoAcao()"
      >
        Confirmar
      </button>
      <button mat-raised-button class="crudbutton" (click)="fechar()">
        Fechar
      </button>
    </div>
  </fieldset>
</div>
