.mat-column-estoque {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-vlIdadeRecomendada {
  text-align: center;
  justify-content: flex-end;
}

.mat-column-acoes {
  text-align: center;
  justify-content: flex-end;
}
