<form class="crudform" [formGroup]="form" #formDirective="ngForm">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <mat-form-field class="crudfield" class="me-3 mb-3" style="width: 50%">
    <mat-label>Fornecedor</mat-label>
    <input
      type="text"
      formControlName="fornecedor"
      [matAutocomplete]="autoFornecedor"
      matInput
      placeholder="Escolha o fornecedor"
      [readonly]="isCarregando || erroCarregando"
    />
    <mat-autocomplete
      #autoFornecedor="matAutocomplete"
      [displayWith]="exibirTextoLookupFornecedor"
    >
      <mat-option
        *ngFor="let fornecedor of fornecedoresFiltrados | async"
        [value]="fornecedor"
      >
        {{ fornecedor.nome }}
      </mat-option>
    </mat-autocomplete>
    <!-- <mat-error
      *ngIf="
        form.get('fornecedor')?.hasError('required') &&
        form.get('fornecedor')?.touched
      "
      >O campo é obrigatório!</mat-error
    >
    <mat-error
      *ngIf="
        !form.get('fornecedor')?.hasError('required') &&
        form.get('fornecedor')?.hasError('fornecedorCadastrado') &&
        form.get('fornecedor')?.touched
      "
      >O fornecedor não está cadastrado!</mat-error
    > -->
  </mat-form-field>

  <mat-form-field class="crudfield" class="me-3 mb-3" style="width: 50%">
    <mat-label>Vacina</mat-label>
    <input
      type="text"
      [formControlName]="nomeControlVacina"
      [matAutocomplete]="autovacina"
      matInput
      placeholder="Escolha a vacina"
      [readonly]="isCarregando || erroCarregando"
    />
    <mat-autocomplete
      #autovacina="matAutocomplete"
      [displayWith]="exibirTextoLookupVacina"
    >
      <mat-option
        *ngFor="let vacina of vacinasFiltradas | async"
        [value]="vacina"
      >
        {{ vacina.nome }}
      </mat-option>
    </mat-autocomplete>
    <!-- <mat-error
      *ngIf="
        form.get(`${{nomeControlVacina}}`)?.hasError('required') &&
        form.get('vacina')?.touched
      "
      >O campo é obrigatório!</mat-error
    >
    <mat-error
      *ngIf="
        !form.get('vacina')?.hasError('required') &&
        form.get('vacina')?.hasError('vacinaCadastrado') &&
        form.get('vacina')?.touched
      "
      >O vacina não está cadastrado!</mat-error
    > -->
  </mat-form-field>
</form>
