.mat-column-data_aplicacao {
  text-align: center;
  justify-content: flex-end;
}

.mat-column-vl_total {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-acoes {
  text-align: center;
  min-width: 180px;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

th.mat-header-cell, td.mat-cell {
    text-align: center;
}
