<div class="container">
  <section class="pt-1 px-3">
    <vacine-mensagem-feedback
      [mensagens]="mensagens"
    ></vacine-mensagem-feedback>

    <fieldset
      class="crudfieldset gap-3 border rounded px-3 pb-3 pt-3"
      aria-disabled
    >
      <legend class="float-none w-auto h4">
        <i class="bi bi-person-fill"></i> Login do Usuário
      </legend>

      <form class="crudform" [formGroup]="form" #formDirective="ngForm">
        <mat-form-field class="crudfield" id="fLogin">
          <mat-label>Login</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Digite o email do usuário"
          />
          <mat-hint *ngIf="exibeHint(form,'email')">
            Digite o email cadastrado
          </mat-hint>
          <mat-error
            *ngIf="
              hasErroValidacao(
                form,
                'email',
                TipoErroValForm.OBRIGATORIO,
                undefined
              )
            "
            >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="crudfield" id="fSenha">
          <mat-label>Senha</mat-label>
          <input
            formControlName="senha"
            type="password"
            matInput
            placeholder="Digite a senha"
          />
          <mat-hint *ngIf="exibeHint(form,'senha')">
            Digite a senha cadastrada
          </mat-hint>
          <mat-error
            *ngIf="
              hasErroValidacao(
                form,
                'senha',
                TipoErroValForm.OBRIGATORIO,
                undefined
              )
            "
            >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
          </mat-error>
        </mat-form-field>
        <div class="acoes">
          <button
            (click)="$event.preventDefault(); login()"
            mat-stroked-button
            matTooltip="Efetuar login"
            color="primary"
            [disabled]="logado || !form.valid"
            [class.spinner]="logado"
          >
            Entrar
          </button>
          &nbsp;
        </div>
        <div class="pt-3">
          <asl-google-signin-button
            type="standard"
            size="medium"
            shape="pill"
          ></asl-google-signin-button>
        </div>
        <div class="pt-3">
          <span
            >Não possui cadastro?
            <a href="#" routerLink="/registrar" routerLinkActive="active"
              >Registre-se</a
            >.</span
          >
        </div>
      </form>
    </fieldset>
  </section>
</div>
