<div class="tab-grid">
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
  <h1>Cadastro de Vacinas</h1>
  <div class="crud-grid">
    <form>
      <div>
      <mat-form-field class="me-3" style="width:50%">
        <mat-label id="cNome">Nome</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="me-3">
        <mat-label id="cProtecaoContra">Proteção contra</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      </div>
    </form>
  </div>
</div>
