<div class="container">
  <vacine-mensagem-feedback
    class="barramsg"
    [mensagens]="mensagens"
  ></vacine-mensagem-feedback>
  <fieldset class="crudfieldset">
    <legend class="titfiedlset float-none w-auto h3">
      &nbsp;Cadastro de Vacinação&nbsp;
    </legend>

    <form class="crudform" [formGroup]="form">
      <mat-form-field class="crudfield" id="fCodigo">
        <mat-label id="lbCodigo">Código*</mat-label>
        <input id="inCodigo" formControlName="codigo" matInput type="text" />
        <mat-hint *ngIf="exibeHint('codigo')">Digite o Código</mat-hint>
        <mat-error
          *ngIf="hasErroValidacao('codigo', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fDataAplicacao" appearance="fill">
        <mat-label>Data da aplicação</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="data_aplicacao"
        />
        <mat-hint *ngIf="exibeHint('data_aplicacao')"
          >Digite ou selecione a data da aplicação</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(
              'data_aplicacao',
              TipoErroValForm.DEFINIDA_USUARIO,
              'matDatepickerParse'
            )
          "
        >
          Selecione ou Digite uma data válida
        </mat-error>
        <mat-error
          *ngIf="
            hasErroValidacao('data_aplicacao', TipoErroValForm.REQUERIDO) &&
            !hasErroValidacao(
              'data_aplicacao',
              TipoErroValForm.DEFINIDA_USUARIO,
              'matDatepickerParse'
            )
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fCliente">
        <mat-label>Cliente</mat-label>
        <input
          type="text"
          [formControlName]="nomeCtrlCliente"
          matInput
          placeholder="Cliente"
          [readonly]="isCarregando || erroCarregando"
          [matAutocomplete]="autoCliente"
        />
        <mat-autocomplete
          #autoCliente="matAutocomplete"
          [displayWith]="exibirTextoLookup"
        >
          <mat-option
            *ngFor="let cliente of clientesFiltrados | async"
            [value]="cliente"
          >
            {{ cliente.nome }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="exibeHint(nomeCtrlCliente)"
          >Digite ou selecione na lista o nome do cliente</mat-hint
        >
        <mat-error
          *ngIf="hasErroValidacao(nomeCtrlCliente, TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error
          *ngIf="
            hasErroValidacao(
              nomeCtrlCliente,
              TipoErroValForm.DEFINIDA_USUARIO,
              'valornalista'
            )
          "
          >Cliente informado não está cadastrado
        </mat-error>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fAplicador">
        <mat-label>Aplicador da vacina</mat-label>
        <input
          type="text"
          [formControlName]="nomeCtrlAplicador"
          matInput
          placeholder="Aplicador"
          [readonly]="isCarregando || erroCarregando"
          [matAutocomplete]="autoAplicador"
        />
        <mat-autocomplete
          #autoAplicador="matAutocomplete"
          [displayWith]="exibirTextoLookup"
        >
          <mat-option
            *ngFor="let aplicador of aplicadoresFiltrados | async"
            [value]="aplicador"
          >
            {{ aplicador.nome }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="exibeHint(nomeCtrlAplicador)"
          >Digite ou selecione na lista o nome do aplicador da vacina</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(nomeCtrlAplicador, TipoErroValForm.OBRIGATORIO)
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error
          *ngIf="
            hasErroValidacao(
              nomeCtrlAplicador,
              TipoErroValForm.DEFINIDA_USUARIO,
              'valornalista'
            )
          "
          >Aplicador informado não está cadastrado
        </mat-error>
      </mat-form-field>
    </form>

    <button
      class="btaddlistagem"
      (click)="setAdicionando(true)"
      mat-raised-button
      color="primary"
      [hidden]="adicionando || somenteLeitura()"
    >
      Adicionar Vacina
    </button>
    <div>
      <form class="crudform" [formGroup]="formItem" [hidden]="!adicionando">
        <fieldset class="fieldsetinterna">
          <legend class="float-none w-auto h6">
            &nbsp;&nbsp;Adicionar Vacina&nbsp;
          </legend>

          <mat-form-field class="crudfield" id="fVacina">
            <mat-label>Vacina</mat-label>
            <input
              type="text"
              [formControlName]="nomeCtrlVacina"
              matInput
              placeholder="Vacina"
              [readonly]="isCarregando || erroCarregando"
              [matAutocomplete]="autoVacina"
            />
            <mat-autocomplete
              #autoVacina="matAutocomplete"
              [displayWith]="exibirTextoLookup"
            >
              <mat-option
                *ngFor="let vacina of vacinasFiltradas | async"
                [value]="vacina"
              >
                {{ vacina.nome }}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="exibeHint(nomeCtrlVacina, formItem)"
              >Digite ou selecione na lista o nome da vacina</mat-hint
            >
            <mat-error
              *ngIf="
                hasErroValidacao(
                  nomeCtrlVacina,
                  TipoErroValForm.OBRIGATORIO,
                  '',
                  formItem
                )
              "
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
            <mat-error
              *ngIf="
                hasErroValidacao(
                  nomeCtrlVacina,
                  TipoErroValForm.DEFINIDA_USUARIO,
                  'valornalista',
                  formItem
                )
              "
              >Vacina informada não está cadastrada
            </mat-error>
          </mat-form-field>

          <mat-form-field class="crudfield" id="fLote">
            <mat-label id="lbLote">Lote*</mat-label>
            <input id="inLote" formControlName="lote" matInput type="text" />
            <mat-hint *ngIf="exibeHint('lote', formItem)"
              >Digite o lote</mat-hint
            >
            <mat-error
              *ngIf="
                hasErroValidacao(
                  'lote',
                  TipoErroValForm.OBRIGATORIO,
                  '',
                  formItem
                )
              "
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="crudfield"
            id="fDataValidade"
            appearance="fill"
          >
            <mat-label>Data de validade</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              formControlName="data_validade"
            />
            <mat-hint *ngIf="exibeHint('data_validade', formItem)"
              >Digite ou selecione a data de validade</mat-hint
            >
            <mat-error
              *ngIf="
                hasErroValidacao(
                  'data_validade',
                  TipoErroValForm.DEFINIDA_USUARIO,
                  'matDatepickerParse',
                  formItem
                )
              "
            >
              Selecione ou Digite uma data válida
            </mat-error>
            <mat-error
              *ngIf="
                hasErroValidacao(
                  'data_validade',
                  TipoErroValForm.REQUERIDO,
                  '',
                  formItem
                ) &&
                !hasErroValidacao(
                  'data_validade',
                  TipoErroValForm.DEFINIDA_USUARIO,
                  'matDatepickerParse',
                  formItem
                )
              "
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="crudfield" id="fVlItem">
            <mat-label id="lblTotCompra">Valor Item*</mat-label>
            <input
              id="inVlTotItem"
              formControlName="vl_item"
              matInput
              type="text"
              currencyMask
            />
            <mat-hint *ngIf="exibeHint('vl_item', formItem)"
              >Digite o valor do item</mat-hint
            >
            <mat-error
              *ngIf="
                hasErroValidacao(
                  'vl_item',
                  TipoErroValForm.OBRIGATORIO,
                  '',
                  formItem
                )
              "
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
          </mat-form-field>

          <div class="barrabuttondetalhe">
            <button
              class="crudbutton"
              *ngIf="temBotaoAcao()"
              mat-raised-button
              color="primary"
              (click)="adicionarItemDetalhe()"
              [disabled]="!habilitarBotaoAcaoForm(formItem)"
            >
              Adicionar
            </button>
            <button
              class="crudbutton"
              mat-raised-button
              (click)="fecharAdicionarItemDetalhe()"
            >
              Concluir
            </button>
          </div>
        </fieldset>
      </form>
      <div class="tabdetalhe mat-elevation-z10">
        <h2>Vacinas aplicadas</h2>
        <table mat-table [dataSource]="itens">
          <ng-container matColumnDef="vacina">
            <th mat-header-cell *matHeaderCellDef>Vacina</th>
            <td mat-cell *matCellDef="let item">{{ item.vacina.nome }}</td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="lote">
            <th mat-header-cell *matHeaderCellDef>Lote</th>
            <td mat-cell *matCellDef="let item">{{ item.lote }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="qtd_frascos">
            <th mat-header-cell *matHeaderCellDef>Qtd Frascos</th>
            <td mat-cell *matCellDef="let item">{{ item.qtd_frascos }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="qtd_doses">
            <th mat-header-cell *matHeaderCellDef>Qtd Doses</th>
            <td mat-cell *matCellDef="let item">{{ item.qtd_doses }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="data_validade">
            <th mat-header-cell *matHeaderCellDef>Validade</th>
            <td mat-cell *matCellDef="let item">
              {{ item.data_validade | date : "dd/MM/yyyy" }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="vl_item">
            <th mat-header-cell *matHeaderCellDef>Valor Total Item</th>
            <td mat-cell *matCellDef="let item">
              {{ formatarValorDecimal(item.vl_item) }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ calcularTotal() | currency : "BRL" : "symbol" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let item">
              <button
                mat-icon-button
                (click)="excluirItemDetalhe(item)"
                [disabled]="somenteLeitura()"
                matTooltip="Excluir"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="defColunasExibidas"></tr>
          <tr mat-row *matRowDef="let row; columns: defColunasExibidas"></tr>
          <tr mat-footer-row *matFooterRowDef="defColunasExibidas"></tr>
        </table>
      </div>
    </div>

    <div class="barrabutton">
      <button
        class="crudbutton"
        *ngIf="temBotaoAcao()"
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="!habilitarBotaoAcao()"
      >
        {{ lbBotaoSalvar }}
      </button>
      <button class="crudbutton" mat-raised-button (click)="fechar()">
        {{ lbBotaoFechar }}
      </button>
    </div>
  </fieldset>
</div>
