/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.msg_err {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.msg_err_checkbox {
  @extend .msg_err;
  margin-top: -10px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
