/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap"; /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.accordion {
  margin: 10px;
  border: 1px gray solid;
}

.tabdetalhe {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.msg_err {
  font-size: 10px;
  margin-left: 5px;
  color: red;
  margin-top: -20px;
  margin-bottom: 20px;
}

.msg_err_checkbox {
  @extend .msg_err;
  margin-top: -10px;
}

.titpage {
  background-color: #7abfc7;
  font-stretch: wider;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.btaddlistagem {
  margin-right: 20px;
}

.tablistagem {
  margin-bottom: 20px;
}

.tittable {
  background-color: #e8f4f5;
}
.crudfieldset {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #168895;
  border: 2px #168895 solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 3px;
  width: 100%;
}

.fieldsetinterna {
  @extend .crudfieldset;
  border: 1px gray solid;
  margin-top: 10px;
}

.crudfield {
  margin-right: 20px;
  margin-bottom: 30px;
  width: 100%;
}
.crudcheck {
  margin-right: 5px;
}
.crudform {
  width: 100%;
  background-color: white;
}

.barrabutton {
  background-color: #d3e9e9;
}

.barrabuttondetalhe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.crudbutton {
  margin: 10px;
  border-style: ridge;
}

.numero {
  text-align: right;
}

.filtlistagem {
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .titfiedlset {
    font-size: 20px;
  }
  .crudfieldset {
    min-width: auto;
  }
}

.semregistros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.tabpag {
  width: 100%;
}

.centralizado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
