<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <h1 class="titpage">{{ getTituloPagina() }}</h1>
  <mat-progress-bar *ngIf="!carregado" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="carregado">
    <div *ngIf="registros.length > 0; else semRegistros">
      <button
        class="btaddlistagem"
        (click)="irParaTelaAdicionar()"
        mat-raised-button
        color="primary"
      >
        Adicionar Fornecedor
      </button>

      <button mat-raised-button (click)="exportarParaExcel()">Exportar</button>

      <mat-form-field class="filtlistagem">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="filtrarRegistrosPeloInput($event)"
          placeholder="Digite para filtrar registros na tabela"
          #input
        />
      </mat-form-field>

      <div class="tablistagem mat-elevation-z10">
        <table
          mat-table
          [dataSource]="dataSourceMatTable"
          matSort
          matSortActive="nome"
          matSortDirection="asc"
        >
          <!-- Coluna Nome -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.nome }}
            </td>
          </ng-container>

          <!-- Coluna CNPJ -->
          <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.cnpj | cnpj }}
            </td>
          </ng-container>

          <!-- Email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.email }}
            </td>
          </ng-container>

          <!-- Telefone Celular  -->
          <ng-container matColumnDef="tel_celular">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Telefone Celular
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.tel_celular | telefone }}
            </td>
          </ng-container>

          <!-- Telefone Fixo  -->
          <ng-container matColumnDef="tel_fixo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Telefone Fixo
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.tel_fixo | telefone }}
            </td>
          </ng-container>

          <!-- Coluna Ações -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let registro">
              <button
                mat-icon-button
                (click)="irParaTelaVisualizar(registro._id)"
                matTooltip="Detalhar"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="irParaTelaEditar(registro._id)"
                matTooltip="Editar"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="irParaTelaExcluir(registro._id)"
                matTooltip="Excluir"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="getDisplayedColumnsMediaType()"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: getDisplayedColumnsMediaType()"
          ></tr>
        </table>
        <mat-paginator
          class="tabpag"
          [pageSizeOptions]="getPageSizeByResolution()"
          aria-label="Selecione a página"
        ></mat-paginator>
      </div>
    </div>
  </div>
  <ng-template #semRegistros>
    <div class="semregistros">
      <vacine-sem-registros></vacine-sem-registros>
      <button
        class="btaddlistagem"
        (click)="irParaTelaAdicionar()"
        mat-raised-button
        color="primary"
      >
        Adicionar Fornecedor
      </button>
    </div>
  </ng-template>
</div>
