<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <h1 class="titpage">{{ getTituloPagina() }}</h1>
  <h2 *ngIf="!!nomeVacina">Vacina: {{ nomeVacina }}</h2>
  <mat-progress-bar *ngIf="!carregado" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="carregado">
    <div *ngIf="registros.length > 0; else semRegistros">
      <button mat-raised-button (click)="exportarParaExcel()">Exportar</button>
      <mat-form-field class="filtlistagem">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="filtrarRegistrosPeloInput($event)"
          placeholder="Digite para filtrar registros na tabela"
          #input
        />
      </mat-form-field>

      <div class="tablistagem mat-elevation-z10">
        <table mat-table [dataSource]="dataSourceMatTable">
          <!-- Data do evento -->
          <ng-container matColumnDef="data_evento">
            <th mat-header-cell *matHeaderCellDef>Data do evento</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.data_evento | date : "short" }}
            </td>
          </ng-container>

          <!-- Coluna Tipo do Evento  -->
          <ng-container matColumnDef="tipo_evento">
            <th mat-header-cell *matHeaderCellDef>Tipo do Evento</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.tipo_evento }}
            </td>
          </ng-container>

          <!-- Motivo -->
          <ng-container matColumnDef="tipo_motivo">
            <th mat-header-cell *matHeaderCellDef>Motivo</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.tipo_motivo }}
            </td>
          </ng-container>

          <!-- Descrição do evento -->
          <ng-container matColumnDef="descricao_evento">
            <th mat-header-cell *matHeaderCellDef>Descrição do evento</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.descricao_evento }}
            </td>
          </ng-container>

          <!-- Qtd Itens -->
          <ng-container matColumnDef="qtd_itens">
            <th mat-header-cell *matHeaderCellDef>Qtd Itens</th>
            <td mat-cell *matCellDef="let registro">
              {{ calcularQtdItens(registro) }}
            </td>
          </ng-container>

          <!-- Qtd Estoque Antes  -->
          <ng-container matColumnDef="qtd_estoque_antes">
            <th mat-header-cell *matHeaderCellDef>Qtd. Estoque Antes</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.qtd_estoque_antes | number }}
            </td>
          </ng-container>

          <!-- Qtd Estoque Depois  -->
          <ng-container matColumnDef="qtd_estoque_depois">
            <th mat-header-cell *matHeaderCellDef>Qtd. Estoque Depois</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.qtd_estoque_depois | number }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="getDisplayedColumnsMediaType()"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: getDisplayedColumnsMediaType()"
          ></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="getPageSizeByResolution()"
          aria-label="Selecione a página"
        ></mat-paginator>
      </div>
    </div>
  </div>
  <div class="barrabutton">
    <button class="crudbutton" mat-raised-button (click)="voltar()">
      Voltar
    </button>
  </div>
  <ng-template #semRegistros>
    <div class="semregistros">
      <vacine-sem-registros></vacine-sem-registros>
    </div>
  </ng-template>
</div>
