#fCnpj {
  grid-area: cnpj;
  // background-color: green;
  width: 25%;
  min-width: 150px;
}

#fNome {
  grid-area: nome;
  width: 60%;
  min-width: 400px;
  // background-color: yellow;
}

#fEmail {
  grid-area: email;
  width: 30%;
  min-width: 250px;
  // background-color: lightblue;
}

#fCelular {
  grid-area: celular;
  width: 20%;
  min-width: 200px;
  // background-color: pink;
}

#fFixo {
  grid-area: fixo;
  width: 20%;
  min-width: 200px;
  // background-color: orange;
}

#fLogradouro {
  grid-area: logradouro;
  width: 45%;
  min-width: 300px;
  // background-color: orange;
}

#fNumero {
  grid-area: numero;
  width: 20%;
  min-width: 100px;
  // background-color: orange;
}

#fComplemento {
  grid-area: numero;
  width: 25%;
  min-width: 100px;
  // background-color: orange;
}

#fCidade {
  grid-area: cidade;
  width: 20%;
  min-width: 100px;
  // background-color: orange;
}

#fCidade {
  grid-area: estado;
  width: 30%;
  min-width: 200px;
  // background-color: orange;
}

#fEstado {
  grid-area: fixo;
  width: 20%;
  min-width: 100px;
  // background-color: orange;
}

#fCep {
  grid-area: fixo;
  width: 20%;
  min-width: 100px;
  // background-color: orange;
}


.barrabutton {
  grid-area: botoes;
}

// .crudfieldset {
//   background-color: lightcyan;
//   display: grid;
//   // grid-template-columns: 10% 30% 30%;
//   grid-template-areas:
//     "barramsg barramsg barramsg"
//     "cnpj nome nome"
//     "email celular fixo"
//     "botoes botoes botoes";
// }

//   .titulo {
//     grid-area: titulo;
//     background-color: orange;
//   }
//   .crud-grid {
//     grid-area: crud;
//     display: grid;

//     grid-row-gap: 1rem;
//     grid-column-gap: 3rem;
//     grid-template-columns: 80% 10% 10%;
//     grid-template-rows: auto;
//     grid-template-areas:
//       "cnpj nome nome"
//       "email telCel telFixo"
//       "logradouro logradouro numero"
//       "complemento cep .";
//     background-color: yellow;

//     .campoCnpj {
//       grid-area: cnpj;
//       background-color: red;
//     }
//     .campoNome {
//       grid-area: nome;
//       background-color: pink;
//     }
//     .campoEmail {
//       grid-area: email;
//       background-color: green;
//     }
//     .campoTelCel {
//       grid-area: telCel;
//       background-color: blue;
//     }
//     .campoTelFixo {
//       grid-area: telFixo;
//       background-color: gray;
//     }
//     .campoLogradouro {
//       grid-area: logradouro;
//       background-color: purple;
//     }
//     .campoNumero {
//       grid-area: numero;
//       background-color: purple;
//     }
//     .campoComplemento {
//       grid-area: complemento;
//       background-color: purple;
//     }
//     .campoCep {
//       grid-area: cep;
//       background-color: purple;
//     }
//   }

//   .botoes-crud {
//     grid-area: botoes;
//   }
// }
