<!-- TODO: verificar porque nao esta aparecendo mensagem de validacao no cep e no logradouro -->
<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <fieldset class="border rounded p-2 mb-3">
    <legend class="float-none w-auto h3">
      &nbsp;Cadastro de Fornecedor&nbsp;
    </legend>
    <div class="crud-grid">
      <form [formGroup]="form">
        <div class="campoCnpj">
          <mat-form-field id="fCnpj">
            <mat-label id="lbCnpj">Cnpj</mat-label>
            <input
              id="inCnpj"
              formControlName="cnpj"
              matInput
              type="text"
              mask="00.000.000/0000-99"
            />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="cnpj"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
          <vacine-msg-erro-input
            [form]="form"
            campo="cnpj"
            validacao="formato"
          ></vacine-msg-erro-input>
        </div>

        <div class="campoNome">
          <mat-form-field id="fNome">
            <mat-label id="lbNome">Nome</mat-label>
            <input id="inNome" formControlName="nome" matInput type="text" />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="nome"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
          <vacine-msg-erro-input
            [form]="form"
            campo="nome"
            validacao="formato"
            msgerro="Tamanho mínimo de 3 caracteres e máximo de 100 caracteres"
          ></vacine-msg-erro-input>
        </div>

        <div class="campoEmail">
          <mat-form-field id="fEmail">
            <mat-label id="lbEmail">Email</mat-label>
            <input id="inEmail" formControlName="email" matInput type="email" />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="email"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
          <vacine-msg-erro-input
            [form]="form"
            campo="email"
            validacao="email"
          ></vacine-msg-erro-input>
        </div>

        <div class="campoTelCel">
          <mat-form-field id="fTelefoneCelular">
            <mat-label id="lbTelefoneCelular">Telefone Celular</mat-label>
            <input
              id="inTelefoneCelular"
              formControlName="tel_celular"
              matInput
              type="text"
              mask="(00) 00000-0000"
            />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="tel_celular"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
          <vacine-msg-erro-input
            [form]="form"
            campo="tel_celular"
            validacao="formato"
          ></vacine-msg-erro-input>
        </div>

        <div class="campoTelFixo">
          <mat-form-field id="fTelefoneFixo">
            <mat-label id="lbTelefoneFixo">Telefone Fixo</mat-label>
            <input
              id="inTelefoneFixo"
              formControlName="tel_fixo"
              matInput
              type="text"
              mask="(00) 0000-0000"
            />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="tel_fixo"
            validacao="formato"
          ></vacine-msg-erro-input>
        </div>

        <fieldset class="border rounded p-2 mb-3" formGroupName="endereco">
          <legend class="float-none w-auto h6">&nbsp;Endereço&nbsp;</legend>
          <div class="campoLogradouro">
            <mat-form-field id="fLogradouro">
              <mat-label id="lbLogradouro">Logradouro</mat-label>
              <input
                id="inLogradouro"
                formControlName="logradouro"
                matInput
                type="text"
              />
            </mat-form-field>
            <vacine-msg-erro-input
              [form]="form"
              campo="logradouro"
              validacao="obrigatorio"
            ></vacine-msg-erro-input>
          </div>
          <div class="campoNumero">
            <mat-form-field id="fNumero">
              <mat-label id="lbNumero">Numero</mat-label>
              <input
                id="inNumero"
                formControlName="numero"
                matInput
                type="text"
              />
            </mat-form-field>
            <vacine-msg-erro-input
              [form]="form"
              campo="numero"
              validacao="obrigatorio"
            ></vacine-msg-erro-input>
          </div>

          <div class="campoComplemento">
            <mat-form-field id="fComplemento">
              <mat-label id="lbComplemento">Complemento</mat-label>
              <input
                id="inComplemento"
                formControlName="complemento"
                matInput
                type="text"
              />
            </mat-form-field>
          </div>

          <div class="campoCep">
            <mat-form-field id="fCep">
              <mat-label id="lbCep">Cep</mat-label>
              <input
                id="inCep"
                formControlName="cep"
                matInput
                type="text"
                mask="00000-000"
              />
            </mat-form-field>
            <vacine-msg-erro-input
              [form]="form"
              campo="cep"
              validacao="obrigatorio"
            ></vacine-msg-erro-input>
            <vacine-msg-erro-input
              [form]="form"
              campo="cep"
              validacao="formato"
            ></vacine-msg-erro-input>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="botoes-crud">
      <button
        *ngIf="temBotaoAcao()"
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="!habilitarBotaoAcao()"
      >
        {{ lbBotaoSalvar }}
      </button>
      <button mat-raised-button (click)="fechar()">
        {{ lbBotaoFechar }}
      </button>
    </div>
  </fieldset>
</div>
