<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <h1 class="titpage">{{ getTituloPagina() }}</h1>
  <mat-progress-bar *ngIf="!carregado" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="carregado">
    <div *ngIf="registros.length > 0; else semRegistros">
      <button
        class="btaddlistagem"
        (click)="irParaTelaAdicionar()"
        mat-raised-button
        color="primary"
      >
        Adicionar Descarte
      </button>

      <button mat-raised-button (click)="exportarParaExcel()">Exportar</button>

      <mat-form-field class="filtlistagem">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="filtrarRegistrosPeloInput($event)"
          placeholder="Digite para filtrar registros na tabela"
          #input
        />
      </mat-form-field>

      <div class="tablistagem mat-elevation-z10">
        <table
          mat-table
          [dataSource]="dataSourceMatTable"
          matSort
          matSortActive="data_descarte"
          matSortDirection="desc"
        >
          <!-- Código -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.codigo }}
            </td>
          </ng-container>

          <!-- Coluna Data Descarte  -->
          <ng-container matColumnDef="data_descarte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Data Descarte
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.data_descarte | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <!-- Coluna Motivo  -->
          <ng-container matColumnDef="motivo_descarte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Motivo Descarte
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.motivo_descarte }}
            </td>
          </ng-container>

          <!--Vacinas  -->
          <ng-container matColumnDef="vacinas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vacinas</th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.vacinas }}
            </td>
          </ng-container>

          <!-- Responsável Descarte -->
          <ng-container matColumnDef="resp_descarte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Responsável Descarte
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.resp_descarte }}
            </td>
          </ng-container>

          <!-- Coluna Ações -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let registro">
              <button
                mat-icon-button
                (click)="irParaTelaVisualizar(registro._id)"
                matTooltip="Detalhar"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="irParaTelaEditar(registro._id)"
                matTooltip="Editar"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="irParaTelaExcluir(registro._id)"
                matTooltip="Excluir"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="getDisplayedColumnsMediaType()"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: getDisplayedColumnsMediaType()"
          ></tr>
        </table>
        <mat-paginator
          class="tabpag"
          [pageSizeOptions]="[10, 25, 50, 100]"
          aria-label="Selecione a página"
        ></mat-paginator>
      </div>
    </div>
  </div>
  <ng-template #semRegistros>
    <div class="semregistros">
      <vacine-sem-registros></vacine-sem-registros>
      <button
        class="btaddlistagem"
        (click)="irParaTelaAdicionar()"
        mat-raised-button
        color="primary"
      >
        Adicionar Descarte
      </button>
    </div>
  </ng-template>
</div>
