<div class="site-container" [class.site-is-mobile]="isMobileResolution()">
  <div
    class="barramenu border-bottom my-3"
    *ngIf="servicoAcesso.isLogado(); else naologado"
  >
    <mat-toolbar color="primary" class="site-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img
        [src]="
          getNomeArqParaResolucaoTela(
            '../../../assets/imagens/',
            'logo-horizontal',
            'jpg'
          )
        "
        alt="Logo da aplicação Vacine - Clínica de Imunização"
      />
      <ul class="navbar-nav navbar-right ms-auto wrapper-conta">
        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown1"
            role="button"
          >
            <button
              mat-fab
              style="background-color: #7abfc7"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>account_circle</mat-icon>
            </button>
          </a>
          <span
            ngbDropdownMenu
            aria-labelledby="navbarDropdown1"
            class="dropdown-menu dropdown-menu-end"
            display="dynamic"
          >
            <span *ngIf="servicoAcesso.isLogado()">
              <p ngbDropdownItem>
                &nbsp;{{ servicoAcesso.getUsuario()?.nome }}
              </p>
              <li class="border-top my-3"></li>
              <p ngbDropdownItem>
                &nbsp;{{ servicoAcesso.getUsuario()?.email }}
              </p>
              <li class="border-top my-3"></li>
              <p ngbDropdownItem>&nbsp;Perfil: {{ getDescricaoPerfil() }}</p>
              <li mat-list-item class="border-top my-3"></li>
              <button
                ngbDropdownItem
                (click)="trocarSenha()"
                routerLinkActive="active"
                class="btn btn-toggle align-items-center rounded collapsed"
              >
                Alterar Senha
              </button>
              <button
                ngbDropdownItem
                (click)="irParaPagina('/logout/')"
                class="btn btn-toggle align-items-center rounded collapsed"
              >
                Sair do Sistema
              </button>
            </span>
            <span *ngIf="!servicoAcesso.isLogado()">
              <button
                ngbDropdownItem
                (click)="irParaPagina('/login')"
                class="btn btn-toggle align-items-center rounded collapsed"
              >
                Sair do Sistema
              </button>
            </span>
          </span>
        </li>
      </ul>
    </mat-toolbar>
  </div>
  <mat-sidenav-container class="site-sidenav-container">
    <mat-sidenav
      #snav
      [opened]="isDesktopResolution() && servicoAcesso.isLogado()"
      [mode]="isMobileResolution() ? 'over' : 'side'"
      [fixedInViewport]="isMobileResolution()"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px">
          <ul class="list-unstyled ps-0">
            <li mat-list-item class="mb-1" *ngIf="podeAcessarMenuUsuario()">
              <button
                (click)="irParaPagina('/usuarios')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Usuários
              </button>
            </li>

            <li mat-list-item class="mb-1" *ngIf="podeAcessarMenuVacina()">
              <button
                (click)="irParaPagina('/vacinas')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Vacinas
              </button>
            </li>

            <li
              *ngIf="podeAcessarMenuUsuario() || podeAcessarMenuVacina()"
              mat-list-item
              class="border-top my-3"
            ></li>

            <li mat-list-item class="mb-1" *ngIf="podeAcessarMenuVacinacao()">
              <button
                (click)="irParaPagina('/vacinacoes')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Vacinações
              </button>
            </li>

            <li
              mat-list-item
              class="mb-1"
              *ngIf="podeAcessarMenuDescarteVacina()"
            >
              <button
                (click)="irParaPagina('/descartes-vacinas')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Descartes Vacinas
              </button>
            </li>

            <li
              *ngIf="
                podeAcessarMenuDescarteVacina() || podeAcessarMenuVacinacao()
              "
              mat-list-item
              class="border-top my-3"
            ></li>

            <li
              mat-list-item
              class="mb-1"
              *ngIf="podeAcessarMenuFornecedorVacina()"
            >
              <button
                (click)="irParaPagina('/fornecedores')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Fornecedores
              </button>
            </li>

            <li
              mat-list-item
              class="mb-1"
              *ngIf="podeAcessarMenuCompraVacina()"
            >
              <button
                (click)="irParaPagina('/compras-vacina')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Compras Vacinas
              </button>
            </li>

            <li
              *ngIf="
                podeAcessarMenuFornecedorVacina() ||
                podeAcessarMenuCompraVacina()
              "
              mat-list-item
              class="border-top my-3"
            ></li>

            <li mat-list-item class="mb-1" *ngIf="podeAcessarMenuGraficos()">
              <button
                (click)="irParaPagina('/graficos/dist-mot-desc-vacina')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Gráfico Motivos Descarte
              </button>
            </li>

            <li mat-list-item class="mb-1" *ngIf="podeAcessarMenuGraficos()">
              <button
                (click)="irParaPagina('/graficos/relac-valores-vacina')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Gráfico Valores Vacinas
              </button>
            </li>

            <li mat-list-item class="mb-1" *ngIf="podeAcessarMenuGraficos()">
              <button
                (click)="irParaPagina('/graficos/relac-doses-vacina')"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Gráfico Doses Vacinas
              </button>
            </li>
            <li
              *ngIf="podeAcessarMenuGraficos()"
              mat-list-item
              class="border-top my-3"
            ></li>

            <li
              mat-list-item
              class="mb-1"
              *ngIf="podeAcessarMenuMinhasVacinacoes()"
            >
              <button
                (click)="downloadMinhasVacinacoes()"
                routerLinkActive="active"
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
              >
                Minhas Vacinações
              </button>
            </li>
          </ul>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">
        <vacine-mensagem-feedback
          [mensagens]="mensagens"
        ></vacine-mensagem-feedback>
      </div>
      <vacine-conteudo-principal></vacine-conteudo-principal>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template #naologado>
  <div class="barramenu">
      <img
        [src]="
          getNomeArqParaResolucaoTela(
            '../../../assets/imagens/',
            'logo-horizontal',
            'jpg'
          )
        "
        alt="Logo da aplicação Vacine - Clínica de Imunização"
      />
  </div>
</ng-template>
