#fNotaFiscal {
  width: 15%;
  min-width: 150px;
}

#fDataCompra {
  width: 20%;
  min-width: 150px;
}

#fFornecedor {
  width: 35%;
  min-width: 200px;
}

#fVlTotCompra {
  width: 20%;
  min-width: 150px;
}


