:host {
  display: block;
  background: url("../../../../assets/imagens/home.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.container-home {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}
