#fCodigo {
  width: 20%;
  min-width: 100px;
}

#fDataDescarte {
  width: 22%;
  min-width: 100px;
}

#fResponsavel {
  width: 45%;
  min-width: 200px;
}

#fLocalDescarte {
  width: 80%;
  min-width: 150px;
}

#fJustDescarte {
  width: 80%;
  min-width: 150px;
}

#fVacina {
  width: 40%;
  min-width: 150px;
}

#fLote {
  width: 20%;
  min-width: 100px;
}

#fQtdDoses {
  width: 20%;
  min-width: 100px;
}

.mat-column-qtd_doses_descarte {
  text-align: right;
}

.mat-column-acoes {
  text-align: center;
  min-width: 50px;
}

.mat-column-data_validade {
  text-align: center;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
  font-size: large;
}
