@media (min-width: 768px) and (max-width: 1024px) {
  #fCodigo {
    width: 30%;
  }

  #fDataDescarte {
    width: 40%;
  }

  #fMotivo {
    width: 40%;
  }

  #fJustDescarte {
    width: 50%;
  }

  #fResponsavel {
    width: 45%;
  }

  #fLocalDescarte {
    width: 45%;
  }

  #fVacina {
    width: 60%;
  }

  #fLote {
    width: 30%;
  }

  #fQtdDoses {
    width: 35%;
  }
}

@media (min-width: 1025px) {
  #fCodigo {
    width: 20%;
  }

  #fDataDescarte {
    width: 22%;
  }

  #fMotivo {
    width: 30%;
  }

  #fJustDescarte {
    width: 50%;
  }

  #fResponsavel {
    width: 40%;
  }

  #fLocalDescarte {
    width: 45%;
  }



  #fVacina {
    width: 40%;
    min-width: 150px;
  }
  #fLote {
    width: 20%;
    min-width: 100px;
  }

  #fQtdDoses {
    width: 25%;
    min-width: 100px;
  }
}

.mat-column-qtd_doses_descarte {
  text-align: right;
}

.mat-column-acoes {
  text-align: center;
  min-width: 50px;
}

.mat-column-data_validade {
  text-align: center;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
  font-size: large;
}
