<div class="flex-shrink-0 p-3 bg-white" style="width: 280px">
  <ul class="list-unstyled ps-0">

    <li class="mb-1" *ngIf = "servicoAcesso.isCadastradorVacinacao()">
      <button
        routerLink="/vacinacoes"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#orders-collapse"
        aria-expanded="false"
      >
        Vacinação
      </button>
    </li>

    <li class="mb-1" *ngIf = "servicoAcesso.isCadastradorVacina()">
      <button
        routerLink="/vacinas"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#orders-collapse"
        aria-expanded="false"
      >
        Vacinas
      </button>
    </li>

    <li class="mb-1" *ngIf = "servicoAcesso.isCadastradorVacina()">
      <button
        routerLink="/descartes-vacinas"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#orders-collapse"
        aria-expanded="false"
      >
        Descartes Vacinas
      </button>
    </li>

    <li class="mb-1" *ngIf="servicoAcesso.isCadastradorUsuario()">
      <button
        routerLink="/usuarios"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#usuarios-collapse"
        aria-expanded="true"
      >
        Usuários
      </button>
    </li>

    <li class="mb-1" *ngIf = "servicoAcesso.isCadastradorCompra()">
      <button
        routerLink="/compras-vacina"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse"
        aria-expanded="false"
      >
        Compras Vacinas
      </button>
    </li>

    <li class="mb-1" *ngIf = "servicoAcesso.isCadastradorFornecedor()">
      <button
        routerLink="/fornecedores"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse"
        aria-expanded="false"
      >
        Fornecedor
      </button>
    </li>

    <li class="mb-1" *ngIf = "servicoAcesso.isAdmin()">
      <button
        routerLink="/"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#orders-collapse"
        aria-expanded="false"
      >
        Relatórios
      </button>
    </li>

    <li class="border-top my-3"></li>

    <li class="mb-1" *ngIf="!servicoAcesso.isLogado()">
      <button
        routerLink="/login"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#account-collapse"
        aria-expanded="false"
      >
        Login
      </button>
    </li>

    <li class="mb-1" *ngIf="servicoAcesso.isLogado()">
      <button
        routerLink="/logout"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#account-collapse"
        aria-expanded="false"
      >
        Logout
      </button>
    </li>

    <li class="mb-1" *ngIf="servicoAcesso.isLogado()">
      <button
        (click)="trocarSenha()"
        routerLinkActive="active"
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#account-collapse"
        aria-expanded="false"
      >
        Trocar Senha
      </button>
    </li>

  </ul>
</div>
