<div class="tab-grid">
  <h1>Cadastro de Vacinas</h1>
  <div class="crud-grid">
    <form>
      <div>
        <mat-form-field id="fNome" class="me-3">
          <mat-label id="lbNome">Nome</mat-label>
          <input id="inNome" name="nome" matInput type="text" [(ngModel)]="vacina.tx_nome" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field id="fProtecaoContra" class="me-3">
          <mat-label id="lbProtecaoContra">Proteção contra</mat-label>
          <input
            id="inProtecaoContra"
            name="protecaoContra"
            matInput
            type="text"
            [(ngModel)]="vacina.tx_protecao_contra"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field id="fComposicao" class="me-3">
          <mat-label id="lbComposicao">Composição</mat-label>
          <input
            id="inComposicao"
            name="composicao"
            matInput
            type="text"
            [(ngModel)]="vacina.tx_composicao"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox
          id="fTemIdadeRecomendada"
          name="temIdadeRecomendada"
          checked="vacina.temIdadeRecomendada"
          [(ngModel)]="vacina.in_idade_recomendada"
          >Tem idade recomendada</mat-checkbox
        >
      </div>
      <div>
        <label id="lbTipoIdadeRecomedada">Tipo de idade de recomendada</label>
        <mat-radio-group aria-labelledby="lbTipoIdadeRecomedada">
          <mat-radio-button *ngFor="let tipo of tiposIdadeRecomendada">
            {{ tipo.nome }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <mat-form-field class="me-3">
          <mat-label id="lbIdadeRecomendada">Idade recomendada</mat-label>
          <input
            id="inIdadeRecomendada"
            name="idadeRecomendada"
            matInput
            type="number"
             [(ngModel)]="vacina.nr_idade_recomendada"
          />
        </mat-form-field>
      </div>
      <div >
        <button *ngIf="!somenteLeitura()" mat-raised-button color="primary" (click)="salvar()">{{lbBotaoSalvar}}</button>
        <button mat-raised-button (click)="fechar()">{{lbBotaoFechar}}</button>
      </div>
    </form>
  </div>
</div>
