<div class="tab-grid">
  <h1>Cadastro de Vacinas</h1>
  <div class="crud-grid">
    <form [formGroup]="form">
      <div>
        <mat-form-field id="fNome" class="me-3">
          <mat-label id="lbNome">Nome</mat-label>
          <input id="inNome" formControlName="tx_nome" matInput type="text" />
        </mat-form-field>
        <div class="msg_err" *ngIf="form.get('tx_nome')?.errors">
          Campo obrigatório
        </div>
      </div>
      <div>
        <mat-form-field id="fProtecaoContra" class="me-3">
          <mat-label id="lbProtecaoContra">Proteção contra</mat-label>
          <input
            id="inProtecaoContra"
            formControlName="tx_protecao_contra"
            matInput
            type="text"
          />
        </mat-form-field>
        <div class="msg_err" *ngIf="form.get('tx_protecao_contra')?.errors">
          Campo obrigatório
        </div>
      </div>
      <div>
        <mat-form-field id="fComposicao" class="me-3">
          <mat-label id="lbComposicao">Composição</mat-label>
          <input
            id="inComposicao"
            formControlName="tx_composicao"
            matInput
            type="text"
          />
        </mat-form-field>
        <div class="msg_err" *ngIf="form.get('tx_composicao')?.errors">
          Campo obrigatório
        </div>
      </div>
      <div>
        <mat-checkbox
          id="fTemIdadeRecomendada"
          formControlName="in_idade_recomendada"
          (change)="verificarIdadeRecomendada()"
          >Tem idade recomendada
        </mat-checkbox>
        <div class="msg_err_checkbox" *ngIf="form.get('in_idade_recomendada')?.errors">
          Campo obrigatório
        </div>
      </div>

      <div *ngIf="form.get('in_idade_recomendada')?.value">
        <mat-form-field class="me-3">
          <mat-label id="lbIdadeRecomendada">Idade recomendada</mat-label>
          <input
            id="inIdadeRecomendada"
            formControlName="nr_idade_recomendada"
            matInput
            type="number"
          />
        </mat-form-field>
        <div class="msg_err" *ngIf="form.get('nr_idade_recomendada')?.errors">
          Campo obrigatório
        </div>
        <label id="lbTipoIdadeRecomedada"></label>
        <mat-radio-group
          aria-labelledby="lbTipoIdadeRecomedada"
          formControlName="tp_idade_recomendada"
        >
          <mat-radio-button value="A"> Anos </mat-radio-button>
          <mat-radio-button value="M"> Meses </mat-radio-button>
        </mat-radio-group>
        <div class="msg_err" *ngIf="form.get('tp_idade_recomendada')?.errors">
          Campo obrigatório
        </div>
      </div>
      <div>
        <button
          *ngIf="temBotaoAcao()"
          mat-raised-button
          color="primary"
          (click)="salvar()"
        >
          {{ lbBotaoSalvar }}
        </button>
        <button mat-raised-button (click)="fechar()">
          {{ lbBotaoFechar }}
        </button>
      </div>
    </form>
  </div>
</div>
