.chart-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.fieldset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#fAno {
  width: 250px;
}
