.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.fieldset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#fAno {
  width: 250px;
}

@media (max-width: 467px) {
  .grafico {
    width: 90%;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .grafico {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grafico {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .grafico {
    width: 50%;
  }
}
