<div class="container centralizado">
  <vacine-mensagem-feedback
    class="barramsg"
    [mensagens]="mensagens"
  ></vacine-mensagem-feedback>
  <h2 class="titpage">Distribuição dos Motivos de Descarte de Vacinas</h2>

  <form class="crudform" [formGroup]="form">
    <mat-form-field class="crudfield" id="fAno" appearance="fill">
      <mat-label>Ano</mat-label>
      <mat-select formControlName="ano" (selectionChange)="gerarGrafico()">
        <mat-option *ngFor="let a of anosDistintos" [value]="a">
          {{ a }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="exibeHint(form, 'ano')">
        Selecione o ano do indicador
      </mat-hint>
    </mat-form-field>
  </form>
  <div class="chart-wrapper">
    <canvas
      class="grafico"
      baseChart
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>
