<p> Generic Crud não tem html. Especialize esse componente e gere seu template. </p>
<!------------------ TEMPLATE EXEMPLO ---------------

<div class="container">
  <vacine-mensagem-feedback
    class="barramsg"
    [mensagens]="mensagens"
  ></vacine-mensagem-feedback>
  <fieldset class="crudfieldset">
    <legend class="titfiedlset float-none w-auto h3">
      &nbsp;Cadastro de Nome da Entidade&nbsp;
    </legend>

    <form class="crudform" [formGroup]="form">

      <mat-form-field class="crudfield" id="fCnpj">
        <mat-label id="lbCnpj">CNPJ*</mat-label>
        <input
          id="inCnpj"
          formControlName=""
          matInput
          type="text"
          mask="00.000.000/0000-99"
        />
        <mat-hint *ngIf="exibeHint('cnpj')">Digite o CNPJ</mat-hint>
        <mat-error *ngIf="hasErroValidacao('cnpj', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error *ngIf="hasErroValidacao('cnpj', TipoErroValForm.FORMATO)"
          >Digite o CNPJ com 14 dígitos
        </mat-error>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fNome">
        <mat-label id="lbNome">Nome*</mat-label>
        <input id="inNome" formControlName="nome" matInput type="text" />
        <mat-hint *ngIf="exibeHint('nome')">Digite o nome</mat-hint>
        <mat-error *ngIf="hasErroValidacao('nome', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error *ngIf="hasErroValidacao('cnpj', TipoErroValForm.FORMATO)"
          >Tamanho mínimo de 3 caracteres e máximo de 100 caracteres
        </mat-error>
      </mat-form-field>

    </form>

    <div class="barrabutton">
      <button
        class="crudbutton"
        *ngIf="temBotaoAcao()"
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="!habilitarBotaoAcao()"
      >
        {{ lbBotaoSalvar }}
      </button>
      <button class="crudbutton" mat-raised-button (click)="fechar()">
        {{ lbBotaoFechar }}
      </button>
    </div>
  </fieldset>
</div> -->
