<div class="container tab-grid">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <fieldset class="border rounded p-2 mb-3">
    <legend class="float-none w-auto h3">
      &nbsp;Cadastro de Vacinas&nbsp;
    </legend>
    <div class="crud-grid">
      <form [formGroup]="form">
        <div>
          <mat-form-field id="fNome" class="me-3">
            <mat-label id="lbNome">Nome</mat-label>
            <input id="inNome" formControlName="tx_nome" matInput type="text" />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="tx_nome"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
          <vacine-msg-erro-input
            [form]="form"
            campo="tx_nome"
            validacao="formato"
            msgerro="Tamanho mínimo do campo é de 3 caracteres e máximo de 100"
          ></vacine-msg-erro-input>
        </div>
        <div>
          <mat-form-field id="fProtecaoContra" class="me-3">
            <mat-label id="lbProtecaoContra">Proteção contra</mat-label>
            <input
              id="inProtecaoContra"
              formControlName="tx_protecao_contra"
              matInput
              type="text"
            />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="tx_protecao_contra"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
        </div>
        <div>
          <mat-form-field id="fComposicao" class="me-3">
            <mat-label id="lbComposicao">Composição</mat-label>
            <input
              id="inComposicao"
              formControlName="tx_composicao"
              matInput
              type="text"
            />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="tx_composicao"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
        </div>
        <div>
          <mat-checkbox
            id="fTemIdadeRecomendada"
            formControlName="in_idade_recomendada"
            (change)="verificarIdadeRecomendada()"
            >Tem idade recomendada
          </mat-checkbox>
          <vacine-msg-erro-input
            [form]="form"
            campo="in_idade_recomendada"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
        </div>

        <div *ngIf="recuperarValorCampoForm('in_idade_recomendada')">
          <mat-form-field class="me-3">
            <mat-label id="lbIdadeRecomendada">Idade recomendada</mat-label>
            <input
              id="inIdadeRecomendada"
              formControlName="nr_idade_recomendada"
              matInput
              type="number"
            />
          </mat-form-field>
          <vacine-msg-erro-input
            [form]="form"
            campo="nr_idade_recomendada"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
          <vacine-msg-erro-input
            [form]="form"
            campo="nr_idade_recomendada"
            validacao="limite"
            msgerro="Valor mínimo do campo é 0 e o máximo é 130"
          ></vacine-msg-erro-input>
          <label id="lbTipoIdadeRecomedada"></label>
          <mat-radio-group formControlName="tp_idade_recomendada">
            <mat-radio-button value="A"> Anos </mat-radio-button>
            <mat-radio-button value="M"> Meses </mat-radio-button>
          </mat-radio-group>
          <vacine-msg-erro-input
            [form]="form"
            campo="tp_idade_recomendada"
            validacao="obrigatorio"
          ></vacine-msg-erro-input>
        </div>
        <div>
          <button
            *ngIf="temBotaoAcao()"
            mat-raised-button
            color="primary"
            (click)="salvar()"
            [disabled]="!habilitarBotaoAcao()"
          >
            {{ lbBotaoSalvar }}
          </button>
          <button mat-raised-button (click)="fechar()">
            {{ lbBotaoFechar }}
          </button>
        </div>
      </form>
    </div>
  </fieldset>
</div>
