<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <fieldset class="crudfieldset">
    <legend class="titfiedlset float-none w-auto h3">
      &nbsp;Cadastro de Vacinas&nbsp;
    </legend>
    <form class="crudform" [formGroup]="form">
      <mat-form-field class="crudfield" id="fNome" class="crudfield">
        <mat-label id="lbNome">Nome*</mat-label>
        <input id="inNome" formControlName="nome" matInput type="text" />
        <mat-hint *ngIf="exibeHint('nome')">Digite o nome da vacina</mat-hint>
        <mat-error *ngIf="hasErroValidacao('nome', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error *ngIf="hasErroValidacao('nome', TipoErroValForm.FORMATO)"
          >Tamanho mínimo do campo é de 3 caracteres e máximo de 100
        </mat-error>
      </mat-form-field>
      <mat-form-field class="crudfield" id="fProtecaoContra">
        <mat-label id="lbProtecaoContra">Proteção contra*</mat-label>
        <input
          id="inProtecaoContra"
          formControlName="protecao_contra"
          matInput
          type="text"
        />
        <mat-hint *ngIf="exibeHint('protecao_contra')">Descreva do que a vacina protege</mat-hint>
        <mat-error
          *ngIf="
            hasErroValidacao('protecao_contra', TipoErroValForm.OBRIGATORIO)
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="crudfield" id="fComposicao">
        <mat-label id="lbComposicao">Composição*</mat-label>
        <input
          id="inComposicao"
          formControlName="composicao"
          matInput
          type="text"
        />
        <mat-hint *ngIf="exibeHint('composicao')">Descreva de que a vacina é composta</mat-hint>
        <mat-error
          *ngIf="hasErroValidacao('composicao', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>

      <div class="dividaderecomendada">
        <mat-checkbox
          id="fInIdadeRecomendada"
          class="crudfield"
          formControlName="in_idade_recomendada"
          (change)="verificarIdadeRecomendada()"
          >Tem idade recomendada
        </mat-checkbox>
        <div
          class="msg_err_checkbox"
          *ngIf="
            hasErroValidacao(
              'in_idade_recomendada',
              TipoErroValForm.OBRIGATORIO
            )
          "
        >
          {{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </div>

        <span *ngIf="getValorCampoForm( 'in_idade_recomendada')">
          <mat-form-field class="crudfield" id="fIdadeRecomendada">
            <mat-label id="lbIdadeRecomendada">Idade</mat-label>
            <input
              id="nrIdadeRecomendada"
              formControlName="nr_idade_recomendada"
              matInput
              type="number"
            />
            <mat-error
              *ngIf="
                hasErroValidacao(
                  'nr_idade_recomendada',
                  TipoErroValForm.OBRIGATORIO
                )
              "
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
            <mat-error
              *ngIf="
                hasErroValidacao('nr_idade_recomendada', TipoErroValForm.LIMITE)
              "
              >Valor mínimo do campo é 0 e o máximo é 130
            </mat-error>
          </mat-form-field>

          <mat-radio-group formControlName="tp_idade_recomendada" id="fTipoIdadeRecomendada">
            <mat-radio-button value="A"> Anos </mat-radio-button>
            <mat-radio-button value="M"> Meses </mat-radio-button>
          </mat-radio-group>
          <span
            class="msg_err_checkbox"
            *ngIf="
              hasErroValidacao(
                'tp_idade_recomendada',
                TipoErroValForm.OBRIGATORIO
              )
            "
          >
            {{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
          </span>
        </span>
      </div>
      <div class="barrabutton">
        <button
          class="crudbutton"
          *ngIf="temBotaoAcao()"
          mat-raised-button
          color="primary"
          (click)="salvar()"
          [disabled]="!habilitarBotaoAcao()"
        >
          {{ lbBotaoSalvar }}
        </button>
        <button class="crudbutton" mat-raised-button (click)="fechar()">
          {{ lbBotaoFechar }}
        </button>
      </div>
    </form>
  </fieldset>
</div>
