.mat-column-data_compra {
  text-align: center;
  justify-content: flex-end;
}

.mat-column-acoes {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}

