.mat-column-data_compra {
  text-align: center;
  justify-content: flex-end;
}

.mat-column-vl_total_compra {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-acoes {
  text-align: center;
  min-width: 180px;
}

