<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <h1 class="titpage">{{ getTituloPagina() }}</h1>
  <mat-progress-bar *ngIf="!carregado" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="carregado">
    <div *ngIf="registros.length > 0; else semRegistros">
      <button
        class="btaddlistagem"
        (click)="irParaTelaAdicionar()"
        mat-raised-button
        color="primary"
      >
        Adicionar Compra Vacina
      </button>

      <button mat-raised-button (click)="exportarParaExcel()">Exportar</button>

      <mat-form-field class="filtlistagem">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="filtrarRegistrosPeloInput($event)"
          placeholder="Digite para filtrar registros na tabela"
          #input
        />
      </mat-form-field>

      <div class="tablistagem mat-elevation-z10">
        <table
          mat-table
          [dataSource]="dataSourceMatTable"
          matSort
          matSortActive="data_compra"
          matSortDirection="desc"
        >
          <!-- Nota fiscal -->
          <ng-container matColumnDef="nota_fiscal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nota Fiscal
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.nota_fiscal }}
            </td>
          </ng-container>

          <!-- Coluna Data Compra  -->
          <ng-container matColumnDef="data_compra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Data da compra
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.data_compra | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <!-- Nome do Fornecedor -->
          <ng-container matColumnDef="fornecedor_nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nome do Fornecedor
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.fornecedor_nome }}
            </td>
          </ng-container>

          <!-- Itens da compra  -->
          <ng-container matColumnDef="itens">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Itens da compra
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.itens }}
            </td>
          </ng-container>

          <!-- Valor total da compra  -->
          <ng-container matColumnDef="vl_total_compra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Total (R$)
            </th>
            <td mat-cell *matCellDef="let registro">
              {{ registro.vl_total_compra }}
            </td>
          </ng-container>

          <!-- Coluna Ações -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let registro">
              <button
                mat-icon-button
                (click)="irParaTelaVisualizar(registro._id)"
                matTooltip="Visualizar"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="irParaTelaEditar(registro._id)"
                matTooltip="Editar"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="irParaTelaExcluir(registro._id)"
                matTooltip="Excluir"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="getDisplayedColumnsMediaType()"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: getDisplayedColumnsMediaType()"
          ></tr>
        </table>
        <div class="tabpag">
          <mat-paginator
            [pageSizeOptions]="[10, 25, 50, 100]"
            aria-label="Selecione a página"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <ng-template #semRegistros>
    <div class="semregistros">
      <vacine-sem-registros></vacine-sem-registros>
      <button
        class="btaddlistagem"
        (click)="irParaTelaAdicionar()"
        mat-raised-button
        color="primary"
      >
        Adicionar Compra Vacina
      </button>
    </div>
  </ng-template>
</div>
