vacine-cabecalho {
  grid-area: cabecalho;
}

vacine-conteudo-principal {
  grid-area: principal;
}

vacine-menu {
  grid-area: menulateral;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "cabecalho principal"
    "menulateral principal";
}
//TODO: colocar menu pequeno qnd for dispositivos moveis
// @media (max-width: 480px) {
//   .menuprincipal,.cabecalho
//  {
//     display: none;
//   }
//   .container {
//     display: grid;
//     grid-template-columns: 1fr 3fr;
//     grid-template-rows: 2fr 10fr;
//     grid-template-areas:
//       "principal"
//       "principal";
//   }
// }
