<mat-form-field class="me-3 mb-3" style="width: 50%">
  <mat-label>{{label}}</mat-label>
  <input
    type="text"
    [formControlName]="formControlName"
    [matAutocomplete]="autocomplete"
    matInput
    placeholder="Escolha o fornecedor"
    [readonly]="isCarregando || erroCarregando"
  />
  <mat-autocomplete
    #autocomplete ="matAutocomplete"
    [displayWith]="display"
  >
    <mat-option
      *ngFor="let registro of registrosFiltrados | async"
      [value]="objValue"
    >
      {{ objValue(formControlName) }}
    </mat-option>
  </mat-autocomplete>
  <mat-error
    *ngIf="
      form.get(formControlName)?.hasError('required') &&
      form.get(formControlName)?.touched
    "
    >O campo é obrigatório!</mat-error
  >
  <mat-error
    *ngIf="
      !form.get(formControlName)?.hasError('required') &&
      form.get(formControlName)?.hasError('itemcadastrado') &&
      form.get(formControlName)?.touched
    "
    >Item não cadastrado</mat-error
  >
</mat-form-field>
<mat-form-field class="me-3 mb-3"></mat-form-field>
