#fNome {
   width: 90%;
   min-width: 200px;
}
#fProtecaoContra {
   width: 90%;
   min-width: 200px;
}
#fComposicao {
   width: 90%;
   min-width: 200px;
}

#fEstoque {
   width: 25%;
   min-width: 120px;
}

#fVlAtualDose {
  width: 25%;
  min-width: 150px;
}
