<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <fieldset class="crudfieldset">
    <legend class="titfiedlset float-none w-auto h3">
      &nbsp;Cadastro de Vacinas&nbsp;
    </legend>
    <form class="crudform" [formGroup]="form">

      <mat-form-field class="crudfield" id="fNome" class="crudfield">
        <mat-label id="lbNome">Nome*</mat-label>
        <input id="inNome" formControlName="nome" matInput type="text" />
        <mat-hint *ngIf="exibeHint(form,'nome')">Digite o nome da vacina</mat-hint>
        <mat-error *ngIf="hasErroValidacao(form,'nome', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error *ngIf="hasErroValidacao(form,'nome', TipoErroValForm.FORMATO)"
          >Tamanho mínimo do campo é de 3 caracteres e máximo de 100
        </mat-error>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fProtecaoContra">
        <mat-label id="lbProtecaoContra">Proteção contra*</mat-label>
        <input
          id="inProtecaoContra"
          formControlName="protecao_contra"
          matInput
          type="text"
        />
        <mat-hint *ngIf="exibeHint(form,'protecao_contra')"
          >Descreva do que a vacina protege</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(form,'protecao_contra', TipoErroValForm.OBRIGATORIO)
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="crudfield" id="fComposicao">
        <mat-label id="lbComposicao">Composição*</mat-label>
        <input
          id="inComposicao"
          formControlName="composicao"
          matInput
          type="text"
        />
        <mat-hint *ngIf="exibeHint(form,'composicao')"
          >Descreva de que a vacina é composta</mat-hint
        >
        <mat-error
          *ngIf="hasErroValidacao(form,'composicao', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fVlAtualDose">
        <mat-label id="lblTotCompra">Valor Atual Dose*</mat-label>
        <input
          id="inVlAtualDose"
          formControlName="vl_atual_unit_dose"
          matInput
          type="text"
          currencyMask
        />
        <mat-hint *ngIf="exibeHint(form,'vl_atual_unit_dose')"
          >Digite o valor total do item</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(form,
              'vl_atual_unit_dose',
              TipoErroValForm.OBRIGATORIO,
              ''
            )
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="crudfield" id="fEstoque">
        <mat-label id="lbEstoque">Qtd Doses em Estoque*</mat-label>
        <input
          id="nrEstoque"
          formControlName="qtd_doses_estoque"
          matInput
          type="number"
        />
        <mat-hint *ngIf="exibeHint(form,'qtd_doses_estoque')"
          >Digite a quantidade de doses atual no estoque</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(form,'qtd_doses_estoque', TipoErroValForm.OBRIGATORIO)
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error
          *ngIf="hasErroValidacao(form,'qtd_doses_estoque', TipoErroValForm.LIMITE)"
          >Valor mínimo do campo é 0
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="exibirJustEstoque()" class="crudfield" id="fJustAltEstoque"   >
        <mat-label id="lbJustAltEstoque">Justificativa de alteração do estoque*</mat-label>
        <input
          id="inJustAltEstoque"
          formControlName="justificativa_alt_estoque"
          matInput
          type="text"
        />
        <mat-hint *ngIf="exibeHint(form,'justificativa_alt_estoque')"
          >Quando o estoque é alterado, é preciso justificar a mudança</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(form,'justificativa_alt_estoque', TipoErroValForm.OBRIGATORIO)
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
      </mat-form-field>

      <div class="barrabutton">
        <button
          class="crudbutton"
          *ngIf="temBotaoAcao()"
          mat-raised-button
          color="primary"
          (click)="salvar()"
          [disabled]="!habilitarBotaoAcao()"
        >
          {{ lbBotaoSalvar }}
        </button>
        <button class="crudbutton" mat-raised-button (click)="fechar()">
          {{ lbBotaoFechar }}
        </button>
      </div>
    </form>
  </fieldset>
</div>
