<div class="container">
  <vacine-mensagem-feedback [mensagens]="mensagens"></vacine-mensagem-feedback>
  <fieldset class="crudfieldset">
    <legend class="titfiedlset float-none w-auto h3">
      &nbsp;Cadastro de Usuário&nbsp;
    </legend>

    <form class="crudform" [formGroup]="form">
      <!-- TIPO -->
      <span class="campoTipo" *ngIf="!isRegistrar()">
        <mat-form-field class="crudfield" id="fTipo" appearance="fill">
          <mat-label>Tipo de Usuário</mat-label>
          <mat-select
            formControlName="tipo"
          >
            <mat-option *ngFor="let tipo of tiposUsuarios" [value]="tipo.valor">
              {{ tipo.valorExibicao }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="exibeHint(form,'tipo')"
            >Selecione o tipo de usuário</mat-hint
          >
          <mat-error
            *ngIf="hasErroValidacao(form,'tipo', TipoErroValForm.OBRIGATORIO)"
            >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
          </mat-error>
        </mat-form-field>
      </span>

      <!-- CPF -->
      <mat-form-field class="crudfield" id="fCpf">
        <mat-label id="lbCpf">CPF</mat-label>
        <input
          id="inCpf"
          formControlName="cpf"
          matInput
          type="text"
          mask="000.000.000-99"
        />
        <mat-hint *ngIf="exibeHint(form,'cpf')">Digite o CPF</mat-hint>
        <mat-error *ngIf="hasErroValidacao(form,'cpf', TipoErroValForm.FORMATO)"
          >Digite o CPF com 11 dígitos
        </mat-error>
      </mat-form-field>

      <!-- NOME -->
      <mat-form-field class="crudfield" id="fNome" appearance="fill">
        <mat-label id="lbNome">Nome*</mat-label>
        <input id="inNome" formControlName="nome" matInput type="text" />
        <mat-hint *ngIf="exibeHint(form,'nome')">Digite o nome</mat-hint>
        <mat-error *ngIf="hasErroValidacao(form,'nome', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error *ngIf="hasErroValidacao(form,'nome', TipoErroValForm.FORMATO)"
          >Tamanho mínimo de 3 caracteres e máximo de 100 caracteres
        </mat-error>
      </mat-form-field>

      <!-- EMAIL -->
      <mat-form-field class="crudfield" id="fEmail">
        <mat-label id="lbEmail">Email*</mat-label>
        <input id="inEmail" formControlName="email" matInput type="email" />
        <mat-hint *ngIf="exibeHint(form,'email')">Digite o email</mat-hint>
        <mat-error
          *ngIf="hasErroValidacao(form,'email', TipoErroValForm.OBRIGATORIO)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-error *ngIf="hasErroValidacao(form,'email', TipoErroValForm.EMAIL)"
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.EMAIL) }}
        </mat-error>
      </mat-form-field>

      <!-- DATA NASCIMENTO -->
      <mat-form-field class="crudfield" id="fDataNascimento" appearance="fill">
        <mat-label>Data de nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="data_nascimento"
        />
        <mat-hint *ngIf="exibeHint(form,'data_nascimento')"
          >Digite ou selecione a data</mat-hint
        >
        <mat-error
          *ngIf="
            hasErroValidacao(form,
              'data_nascimento',
              TipoErroValForm.DEFINIDA_USUARIO,
              'matDatepickerParse'
            )
          "
        >
          Selecione ou Digite uma data válida
        </mat-error>
        <mat-error
          *ngIf="
            hasErroValidacao(form,'data_compra', TipoErroValForm.REQUERIDO) &&
            !hasErroValidacao(form,
              'data_compra',
              TipoErroValForm.DEFINIDA_USUARIO,
              'matDatepickerParse'
            )
          "
          >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
        </mat-error>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <!-- SENHA -->
      <div>
        <span *ngIf="habilitaCampoSenha()">
          <mat-form-field class="crudfield" id="fSenha">
            <mat-label id="lbSenha">Senha*</mat-label>
            <input
              id="inSenha"
              formControlName="senha"
              matInput
              type="password"
            />
            <mat-hint *ngIf="exibeHint(form,'senha')"
              >Digite a senha (mínimo 5 e máximo 20 caracteres)</mat-hint
            >
            <mat-error
              *ngIf="hasErroValidacao(form,'senha', TipoErroValForm.OBRIGATORIO)"
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
            <mat-error
              *ngIf="hasErroValidacao(form,'senha', TipoErroValForm.FORMATO)"
              >Tamanho mínimo de 5 caracteres e máximo de 20 caracteres
            </mat-error>
          </mat-form-field>
        </span>

        <!-- CONFIRMACAO SENHA -->
        <span class="campoConfSenha" *ngIf="habilitaCampoSenha()">
          <mat-form-field class="crudfield" id="fConfSenha">
            <mat-label id="lbConfSenha">Confirmação de Senha*</mat-label>
            <input
              id="inConfSenha"
              formControlName="confSenha"
              matInput
              type="password"
            />
            <mat-hint *ngIf="exibeHint(form,'confSenha')"
              >Digite novamente a senha</mat-hint
            >
            <mat-error
              *ngIf="hasErroValidacao(form,'confSenha', TipoErroValForm.OBRIGATORIO)"
              >{{ getMsgErroValidacaoTipo(TipoErroValForm.OBRIGATORIO) }}
            </mat-error>
            <mat-error
              *ngIf="hasErroValidacao(form,'confSenha', TipoErroValForm.FORMATO)"
              >Tamanho mínimo de 5 caracteres e máximo de 20 caracteres
            </mat-error>
            <mat-error
              *ngIf="
                hasErroValidacao(form,
                  'confSenha',
                  TipoErroValForm.DEFINIDA_USUARIO,
                  'confirmasenha'
                )
              "
              >Senha diferente da confirmação
            </mat-error>
          </mat-form-field>
        </span>
      </div>
      <!-- CELULAR -->
      <mat-form-field class="crudfield" id="fCelular">
        <mat-label id="lbTelefoneCelular">Telefone Celular</mat-label>
        <input
          id="inTelefoneCelular"
          formControlName="tel_celular"
          matInput
          type="text"
          mask="(00) 00000-0000"
        />
        <mat-hint *ngIf="exibeHint(form,'tel_celular')"
          >Digite o número do celular</mat-hint
        >
        <mat-error
          *ngIf="hasErroValidacao(form,'tel_celular', TipoErroValForm.FORMATO)"
          >O celular deve ter DD e 9 dígitos
        </mat-error>
      </mat-form-field>

      <!-- FIXO -->
      <mat-form-field class="crudfield" id="fFixo">
        <mat-label id="lbTelefoneFixo">Telefone Fixo</mat-label>
        <input
          id="inTelefoneFixo"
          formControlName="tel_fixo"
          matInput
          type="text"
          mask="(00) 0000-0000"
        />
        <mat-hint *ngIf="exibeHint(form,'tel_fixo')"
          >Digite o telefone fixo</mat-hint
        >
        <mat-error *ngIf="hasErroValidacao(form,'tel_fixo', TipoErroValForm.FORMATO)"
          >O telefone deve ter DD e 8 dígitos
        </mat-error>
      </mat-form-field>

      <!-- ENDERECO -->
      <fieldset class="fieldsetinterna" formGroupName="endereco">
        <legend class="float-none w-auto h6">&nbsp;&nbsp;Endereço&nbsp;</legend>

        <!-- LOGRADOURO -->
        <mat-form-field class="crudfield" id="fLogradouro">
          <mat-label id="lbLogradouro">Logradouro</mat-label>
          <input
            id="inLogradouro"
            formControlName="logradouro"
            matInput
            type="text"
          />
          <mat-hint *ngIf="exibeHint(form,'endereco.logradouro')"
            >Digite o nome (rua, avenida, etc)
          </mat-hint>
        </mat-form-field>

        <!-- NUMERO -->
        <mat-form-field class="crudfield" id="fNumero">
          <mat-label id="lbNumero">Número</mat-label>
          <input id="inNumero" formControlName="numero" matInput type="text" />
          <mat-hint *ngIf="exibeHint(form,'endereco.numero')"
            >Digite o número
          </mat-hint>
        </mat-form-field>

        <!-- COMPLEMENTO -->
        <mat-form-field class="crudfield" id="fComplemento">
          <mat-label id="lbComplemento">Complemento</mat-label>
          <input
            id="inComplemento"
            formControlName="complemento"
            matInput
            type="text"
          />
          <mat-hint *ngIf="exibeHint(form,'endereco.complemento')"
            >Digite o complemento
          </mat-hint>
        </mat-form-field>

        <!-- CIDADE -->
        <mat-form-field class="crudfield" id="fCidade">
          <mat-label id="lbCidade">Cidade</mat-label>
          <input id="inCidade" formControlName="cidade" matInput type="text" />
          <mat-hint *ngIf="exibeHint(form,'endereco.cidade')"
            >Digite a cidade
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="crudfield" id="fEstado" appearance="fill">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let e of estados" [value]="e">{{
              e
            }}</mat-option>
          </mat-select>
          <mat-hint *ngIf="exibeHint(form,'endereco.estado')"
            >Selecione o estado
          </mat-hint>
        </mat-form-field>

        <!-- CEP -->
        <mat-form-field class="crudfield" id="fCep">
          <mat-label id="lbCep">CEP</mat-label>
          <input
            id="inCep"
            formControlName="cep"
            matInput
            type="text"
            mask="00000-000"
          />
          <mat-hint *ngIf="exibeHint(form,'endereco.cep')">Digite o CEP </mat-hint>
          <mat-error
            *ngIf="hasErroValidacao(form,'endereco.cep', TipoErroValForm.FORMATO)"
            >O CEP deve ter 8 dígitos
          </mat-error>
        </mat-form-field>
      </fieldset>

    </form>
    <div class="barrabutton">
      <button
        *ngIf="temBotaoAcao()"
        class="crudbutton"
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="!habilitarBotaoAcao()"
      >
        {{ lbBotaoSalvar }}
      </button>
      <button mat-raised-button class="crudbutton" (click)="fechar()">
        {{ lbBotaoFechar }}
      </button>
    </div>
  </fieldset>
</div>
